*{
    margin: 0;
}

body {
    margin: 0;
    background-color: rgb(14, 151, 128);  
    padding-top: 300px; 
}

.container {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.date {
    width: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px palevioletred;
    background-color: beige;
    border-radius: 5px;
    padding: 10px 5px;
}

.hidden {
    display: none;    
}

.currentTime {
    display: flex;    
    font-size: 50px;
    color: palevioletred;  
}

.setFormat {
    display: flex;
    justify-content: center;
    color: palevioletred;
    margin-bottom: 5px; 
    margin-top: 10px; 
}

.setTime {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 50px;
    color: rgb(221, 132, 49)
}

.switch {
    position: relative;
    left: 41%;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0px 0px 5px 2px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}